.NavigationDisplay {
    padding-top: 80px;

}

.navigationDisplayButton {
    margin-top: 10px;
    color: white;
    background-color: #4caf50;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 10px auto;
    transition: color 0.2s ease;

    /* New styles for centering */
    display: flex;
    justify-content: center;
    align-items: center;
}