.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background-color: #4caf50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbarButton {
    background-color: transparent;
    cursor: pointer;
}


.basketButton {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: auto;
    transition: color 0.2s ease;
}
